.all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: 1px solid blue
}

.card-item-wrapper {
  background-color: rgba(121, 119, 119, 0.49);
  width: 25%;
}
